{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <tr> <th>#</th> <th>備品名</th>    <th>カテゴリー名</th> <th>ユーザ名</th>  <th>貸し出し開始時間</th> <th>貸し出し状況</th> <th>コメント</th></tr>
                {% for fixture in fixtures %}
                    <tr><td>{{ fixture.id }}</td>   <td>{{ fixture.goods }}</td>  <td>{{ fixture.category }}</td>
                        <td>
                            {% if fixture.user == None %}
                                --------
                            {% else %}
                                {{ fixture.user }}
                            {% endif %}
                        </td>
                        <td>
                            {% if fixture.pub_date == None %}
                                --------
                            {% else %}
                                {{ fixture.pub_date }}
                            {% endif %}
                        </td>
                    <td>
                        {% if fixture.status %}
                            <!--<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>貸出中-->
                        <form action="{% url 'fixtures:back' fixture.id %}" method="post">
                            {% csrf_token %}
                                    {% if fixture.user == user %}
                                        <span class="glyphicon glyphicon-import" aria-hidden="true"></span><input class="btn btn-info" type="submit" value="返す"/>
                                    {% else %}
                                        <span class="glyphicon glyphicon-check">貸し出し中</span>
                                    {% endif %}
                        </form>
                        {% else %}
                        <form action="{% url 'fixtures:borrow' fixture.id %}" method="post">
                            {% csrf_token %}
                            <!--<input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id}}"/>-->
                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span><input class="btn btn-success" type="submit" value="借りる"/>
                        </form>
                        {% endif %}

                    </td>
                    <td>
                        {% if fixture.comment %}
                            {{ fixture.comment }}
                        {% else %}
                            <form type="text" method="post" name="comment" action="{% url 'fixtures:comment' fixture.id %}">
                                {% csrf_token %}
                                    <textarea name="comment"></textarea>
                                <input type="submit" value="send"/>
                            </form>
                        {% endif %}
                    </td>
                    </tr>

                {% endfor %}
    </table>


    <div class="pagination">
    <span class="step-links">
        {% if fixtures.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ fixtures.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ fixtures.number }} of {{ fixtures.paginator.num_pages }}.
        </span>

        {% if fixtures.has_next %}
            <a href="?page={{ fixtures.next_page_number }}">next</a>
            <a href="?page={{ fixtures.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}